
<div class="skip-controls">
  <a href="#" class="glyphicon glyphicon-fast-backward"></a>
  <a href="#" class="glyphicon glyphicon-fast-forward"></a>
</div>

<div class="next-song-info">
  <% if (firstSong) { %>

    <span class="up-next">Up Next:</span>
    <marquee class="up-next-song-info" scrolldelay="200">
      <%= firstSong.escape("name") %>, <%= firstSong.escape("username") %>,
      <% if (firstSong.escape("artist_name")) { %>
       <%= firstSong.escape("artist_name")  %>,
      <% } %>
      (<%= Capstone.timify(firstSong.get("length")) %>)
    </marquee>
  <% } %>
</div>

<div class="dropup">
  <button type="button" class="btn btn-default glyphicon glyphicon-menu-up" data-toggle='dropdown'></button>
  <ul class="dropdown-menu">
    <% queue.reverse().forEach(function(song) { %>
      <li class="queue-list-item">
        <p class="floatleft">
          <a class="queue-item-song-name" href="#"><%= song.get("name") %></a>
        </p>
        <p class="floatright">
          <span class="glyphicon glyphicon-remove"></span><span class="glyphicon glyphicon-menu-hamburger"></span>
        </p>
      </li>
    <% }) %>
  </ul>
</div>
