
<div class="playback-button btn"><div class="glyphicon glyphicon-play"></div></div>

<h4 class="song-name">
  <%= song.escape("name") %>
</h4>

<div class="song-artist">
  <p class="song-user-name">
    <a href="#users/<%= song.get("user_id") %>"><%= song.get("username") %></a>
    <% if (song.escape("artist_name")) { %>
      <span class="song-artist-divider">|</span>
      <%= "by " + song.escape("artist_name") %>
    <% } %>
  </p>
</div>

<p class="song-length">
  <%= song.length() %>
</p>

<button type="button" class="song-list-item-queue-dropdown btn btn-default dropdown-toggle" data-toggle="dropdown" name="button">
  <span class="glyphicon glyphicon-option-horizontal"></span>
</button>
<ul class="queue-options dropdown-menu">
  <li>
    <a href="#" class="add-to-queue">
      <span class="glyphicon glyphicon-list"></span> Add to queue
    </a>
  </li>
  <li>
    <a href="#" class="play-next">
      <span class="glyphicon glyphicon-share-alt"></span> Play Next
    </a>
  </li>
  <% if (song.get("user_id") === Capstone.currentUser.id) { %>
    <li class="divider"></li>
    <li>
      <a href="#" class="delete-song">
        <span class="glyphicon glyphicon-remove"></span>Delete
      </a>
    </li>
  <% } %>
</ul>
