<div class="row">

  <div class="user-avatar">
    <img src="http://www.gravatar.com/avatar/<%= user.get("md5") %>?s=110" alt="" />
  </div>

  <h3 class="user-username">
    <%= user.escape("username") %>
  </h3>

  <% if (user.isBeingFollowed()) { %>
    <button class="btn btn-default follow-button following">Following</button>
  <% } else { %>
    <button class="btn btn-default follow-button not-following">+ Follow</button>
  <% } %>

</div>

<div class="row">
  <ul class="user-facts">
    <li class="member-since"><span class="user-info-heading">Member since:</span><%= user.get("joined") %></li>

    <% if (!user.mostPopularSong().isNew()) { %>
      <li class="most-popular-song"><span class="user-info-heading">Most Popular Song:</span><span class="song-item"></span></li>
    <% } %>

    <li class="karma">
      <span class="user-info-heading">Karma:</span>
      <% if (user.get("karma") === 0) { %>
        Get Digging!
      <% } else { %>
        <% if (user.get("karma") < 0) { %>
          <span style="color:#FF8C00"><%= user.get("karma") %></span>
        <% } else { %>
          <span style="color:#4CBB17"><%= user.get("karma") %></span>
        <% } %>
      <% } %>
    </li>
  </ul>
</div>

<h4 class="about-me">About:</h4>
<p>
  <%= user.escape("about_me") %>
</p>
